// Imports
@use './base' as theme;
@use './layouts/navbar';
@use './utils/classes';
@use './components/links';

// General
body {
  font-family: theme.$text-lato;
  color: theme.$color-white;
}

// Header
.home-header {
  background-color: theme.$color-black;
  padding-block-start: 202px;
  block-size: 674px;
  position: relative;
  z-index: 1;
  overflow: hidden;

  // Hero
  &__faded-bg {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    inline-size: 50%;
    block-size: 100%;
    background-color: theme.$color-black;
    box-shadow: 0 0 100px 200px theme.$color-black;
  }

  &__tentacles {
    position: absolute;
    z-index: -2;
    right: 0;
    top: 0;
    inline-size: 50%;
    block-size: 100%;
    object-fit: cover;
  }

  &__container {
    display: flex;
    flex-direction: column;
    block-size: 100%;
  }

  &__surtitle {
    font-size: theme.$fs-18;
    font-weight: 300;
  }

  &__title {
    font-size: theme.$fs-80;
    margin-block-end: 24px;
  }

  &__subtitle {
    font-size: theme.$fs-18;
    font-weight: 300;
    margin-block-end: 14px;
  }

  &__cta {
    min-inline-size: 236px;
    align-self: flex-start;
  }

  &__info {
    margin-block-start: auto;
    display: flex;
    gap: 32px;
    margin-block-end: 64px;
  }

  &__info-paragraph {
    display: inline-flex;
    align-items: center;
    font-family: theme.$text-raleway;
  }

  &__info-icon {
    inline-size: theme.$fs-24;
    margin-inline-end: 8px;
  }
}

// Section - About
.discover-section {
  display: flex;
  padding-block: 104px;

  &__dish-img {
    margin-inline-end: 105px;
  }

  &__h2 {
    margin-block-end: 16px;
  }
}

// Section - Dishes
.dishes-section {
  background-color: theme.$color-black;

  &__container {
    padding-block: 90px;
    display: flex;
  }

  &__content {
    max-inline-size: 555px;
    margin-inline-end: 105px;
  }

  &__h2 {
    margin-block-end: 16px;
  }

  &__basic-text {
    margin-block-end: 48px;
  }

  &__photos {
    display: flex;
    margin-block-end: 56px;
    gap: 16px;
  }

  &__card-name {
    margin-block-start: 16px;
    font-size: theme.$fs-18;
    line-height: 133.33%;
  }

  &__card-price {
    font-size: theme.$fs-14;
    font-weight: 300;
  }

  &__links {
    display: flex;
    gap: 24px;
  }

  &__link {
    min-inline-size: 200px;
  }

  &__side-image-container {
    margin-block-start: -180px;
    text-align: center;
  }

  &__side-image {
    margin-block-end: 16px;
  }
}

// Section - Values
.values-section {
  padding-block: 104px;
  display: flex;
  gap: 100px;

  &__content {
    padding-block-start: 33px;
  }

  &__h2 {
    margin-block-end: 16px;
  }

  &__basic-text {
    margin-block-end: 46px;
  }
}

// Breakpoints 1130px
@media (max-width: 1130px) {
  // Header
  .home-header {
    // Hero
    &__faded-bg {
      inline-size: 40%;
    }

    &__tentacles {
      inline-size: 60%;
    }
  }

  // Section - About
  .discover-section {
    flex-direction: column;
    text-align: center;
    max-inline-size: 600px;
    padding-block: 72px 120px;

    &__dish-img {
      margin-inline-end: 28px;
      margin-block-start: 44px;
      margin-inline: auto;
      order: 2;
    }

    &__text {
      margin-block-end: 22px;
    }
  }

  // Section - Dishes
  .dishes-section {
    &__container {
      padding-block: 72px 120px;
    }

    &__content {
      margin-inline: auto;
      max-inline-size: 420px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    &__side-image-container {
      display: none;
    }
  }

  // Section - Values
  .values-section {
    padding-block: 72px 140px;
    max-inline-size: 550px;
    flex-direction: column;
    gap: 10px;
    text-align: center;

    &__content {
      padding-block-start: 0;
    }

    &__chef-img {
      order: 2;
      max-inline-size: 400px;
      inline-size: 100%;
      margin-inline: auto;
    }

    &__decoration-img {
      display: none;
    }
  }
}

// Breakpoints 770px
@media (max-width: 770px) {
  // Header
  .home-header {
    block-size: 568px;
    padding-block-start: 150px;

    // Hero
    &__faded-bg,
    &__tentacles {
      inline-size: 100%;
    }

    &__faded-bg {
      background-color: rgba(theme.$color-black, 0.6);
    }

    &__surtitle {
      font-size: theme.$fs-16;
    }

    &__title {
      margin-block-end: 27px;
      font-size: theme.$fs-50;
    }

    &__subtitle {
      font-size: theme.$fs-16;
      margin-block-end: 16px;
    }

    &__cta {
      font-size: theme.$fs-16;
    }

    &__info {
      flex-direction: column;
      gap: 16px;
      margin-block-end: 32px;
    }
  }
}

// Breakpoints 630px
@media (max-width: 630px) {
  // Section - Dishes
  .dishes-section {
    &__container {
      flex-direction: column;
      padding-block: 88px 112px;
    }

    &__content {
      order: 2;
    }

    &__h2 {
      margin-block-end: 4px;
    }

    &__basic-text {
      margin-block-end: 0;
    }

    &__card {
      display: none;
    }

    &__links {
      flex-direction: column;
      inline-size: 100%;
      max-inline-size: 300px;
    }

    &__side-image-container {
      display: block;
      margin-block-start: -142px;
    }

    &__side-image {
      inline-size: 100%;
      max-inline-size: fit-content;
    }

    &__img-label {
      margin-block-end: 42px;
    }
  }
}

// Breakpoints 600px
@media (max-width: 600px) {
  // Section - About
  .discover-section {
    padding-block: 48px 151px;

    &__dish-img {
      max-inline-size: 350px;
      inline-size: 100%;
    }

    &__text {
      margin-block-end: 0;
    }
  }

  // Section - Dishes
  .dishes-section__side-image {
    inline-size: 100%;
    max-inline-size: 350px;
  }

  // Section - Values
  .values-section {
    padding-block: 48px 120px;
  }
}

// Breakpoints 500px
@media (max-width: 500px) {
  .home-header {
    // Hero
    &__cta {
      align-self: center;
      margin-block-end: 0;
    }
    &__surtitle,
    &__title,
    &__subtitle {
      text-align: center;
    }
  }
}

// Breakpoints 435px
@media (max-width: 435px) {
  // Header
  .home-header {
    padding-block-start: 113px;

    // Hero
    &__title {
      font-size: theme.$fs-40;
    }
  }
}

// Breakpoints 360px
@media (max-width: 360px) {
  // Header
  .home-header {
    // Hero
    &__title {
      font-size: theme.$fs-33;
    }
  }
}
